<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ execution_id }} failed</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  </style>
<body>
<table>
  <tr>
    <th>Id</th>
    <th>Label</th>
    <th>Content</th>
  </tr>
  {% for item in data %}
    <tr>
      <td><span>{{ item.id }}</span></td>
      <td>
        {{ item.label }}
      </td>
      <td>
        {{ item.content }}
      </td>
    </tr>
  {% endfor %}
</table>
</body>
</html>
