<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ start_time }} and  {{ end_time }}</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    .stat {
      color: blue;
    }
  </style>
<body>
{% load insights.custom_tags %}

<table>
  <tr>
    <th>Label</th>
    <th>Content</th>
  </tr>

  {% for label, clusters in data.items %}
    <tr>
      <td><span>{{ label }}</span></td>
      <td>
        {% for id, cluster_items in clusters.items %}
          <strong>Cluster {{ forloop.counter0 }}:</strong>
          <ul>
            <li>
              <span style="font-weight: bold">Statistics Text</span><br>
              {% with values=cluster_items.values %}
                {% with value0=values|index:0 %}
                  <pre>{{ value0.summarization }}</pre>
                {% endwith %}
              {% endwith %}
            </li>
            <br/>
            <br/>
            {% for result_id, result in cluster_items.items %}
              <li>
                <span style="font-weight: bold">{{ forloop.counter0 }} - Test result {{ result.id }}: </span><br/>
                {{ result.content }}
              </li>
            {% endfor %}
          </ul>
          <hr>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>
</body>
</html>
