<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ execution_id }} clusters</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    .text-sum {
      font-style: italic;
      color: red;
    }
    
    .stat {
      color: blue;
    }
  </style>
<body>
{% load custom_tags %}
<table>
  <tr>
    <th>Clusters</th>
    <th>Error Log Ids</th>
  </tr>
  <h6>{{ status }}</h6>
  {% for color, error in clusters.items %}
    <tr>
      <td><span style="color: {{ color }}; font-weight: bold">{{ color }}</span></td>
      <td>
        {% for content in error.cluster_content %}
          {% with idx=forloop.counter0  cid=error.cluster_id|index:forloop.counter0 %}
            <span style="font-weight: bold">Sub-cluster {{ cid }}: </span>
            {% for type in error.statistic|index:idx %}
                <br/>
                <br/>
                {% for k, v in type|items %}
                    <li class="stat">{{ k }}: <strong>{{ v }}</strong></li>
                {% endfor %}
            {% endfor %}

            <ol>
              {% for raw in content %}
                <br/>
                <li>{{ raw }}</li>
              {% endfor %}
            </ol>
          {% endwith %}
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>
</body>
</html>
